* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'News Cycle', sans-serif;
    font-size: 16px;
    padding: 20px;
    background-color: rgb(235, 238, 242);
}

.in {
    width: 930px;
    display: block;
    background: white;
    padding: 20px;
    border-top: 4px solid #0974b3;
    color: #666;     
}

.ae, .nt {
    width: 430px;
    display: inline-block;
    background: white;
    padding: 20px;
    border-top: 4px solid #0974b3;
    padding-bottom: 30px; 
    margin-top: 25px; 
    margin-right: 25px;
    color: #666;   
}
        
h1 {
    color: #0974b3;
    padding-bottom: 0;
}

img {
    height: 220px;
    width: 165px;
    float: left;
    margin-right: 20px;
    margin-top:20px;
    object-fit: cover;
    padding-bottom: 15px;   
}

.nt img {
    height: 200px;
    width: 165px;
    object-fit: cover;
    padding-bottom: 10px;
}

.cite {
    margin-top: 20px;
    margin-bottom: 20px;   
}

.clear {
    clear: both;
}